{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags recipe_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block home_content %}

<main class="hero">
	<div id="svg-bg">
		{% include 'includes/pattern.svg' %}
	</div>
	<div class="container">
	    <div class="hero-body-content">    	
		    <div class="row">
		        <div id="site-info-card" class="col-lg-12">
		        	<h1 class="homepage-heading">{{page.heading}}</h1>
		        	{% comment %}
		        	<h1>
		        		<span class="first-name">omar</span><span class="last-name">rahman</span><span class="tld">.ca</span>
		        	</h1>
		        	{% endcomment %}
        		<div class="subheading">
	        		<ul>
		        		<li>JavaScript(React, Angular)</li>
		        		<li id="djangoListItem">Django</li>
		        		<li id="pythonListItem">Python<span>▍</span></li>
	        		</ul>
	        	</div>
	        	</div>
		    </div>
		</div>
    </div>
		​
</main> 

<div class="container"> 

<div id="home-subpages" class="homepage-sections container">
	{% for subpage in homePageSection %}
	<section id="section-{{forloop.counter}}" class="homepage-section {{ subpage.sectionClassName }} {{ subpage.orientation }}-orientation">
			{# template section for right-oriented homepage sections #}
			{% if subpage.orientation == "right" %}
			<div class="row">
				<div class="col-sm-12">
					<h2 class="section-title text-center hide-md">{{ subpage.title }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-7">
					{% if subpage.main_image %}
						{% image subpage.main_image width-1000 as sectionPic %}
						{{sectionPic.url}}
						{{subpage.main_image.caption}}
						<img src="{{sectionPic.url}}" alt="{{subpage.main_image.alt_text}}" class="homepage-section-img">
					{% endif %}
					
				</div>
				<div class="col-sm-12 col-md-12 col-lg-5">
					<h2 class="section-title hide-sm">{{ subpage.title }}</h2>
					<div class="section-body">
						{{ subpage.body|richtext }}
					</div>
				</div>
			</div>
			{% endif%}
			{# template section for right-oriented homepage sections #}	
			{% if subpage.orientation == "left" %}
			<div class="row">
				<div class="col-sm-12">
					<h2 class="section-title text-center hide-md">{{ subpage.title }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-5">
					<h2 class="section-title hide-sm">{{ subpage.title }}</h2>
					<div class="section-body">
						{{ subpage.body|richtext }}
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-7">
					{% if subpage.main_image %}
						{% image subpage.main_image width-1000 as sectionPic %}
						{{sectionPic.url}}
						{{subpage.main_image.caption}}
						<img src="{{sectionPic.url}}" alt="{{subpage.main_image.alt_text}}" class="homepage-section-img">
					{% endif %}					
				</div>
			</div>
			{% endif%}	
	</section>
	{% endfor %}
</div>

</div>
{% verbatim %}
<script type="text/javascript">
	var liDjango = document.getElementById('djangoListItem');
	var pythonLang = "a";
	console.log(siteCard.indexOf('a'));
	debugger;
</script>
{% endverbatim %}
{% endblock %}
