{% load menu_tags navigation_tags wagtailcore_tags static %}

{% block navbar %}
<header class="top-menu-bar">
	<div class="logo-holder">
		<div class="logo">
			{% if request.get_full_path == "/" %}
			<a href="#section-0">
			{% else %}
			<a href="/">
			{% endif %}
				<span class="sr-only">Homepage link. Logo of calligraphed 'O' over wax seal illustration</span>
				{% include 'WaxSealLogo.svg' %}
			</a>
		</div>
	</div>
	<nav class="top-menu nav-section">
		{# Homenav start. renders only if on homepage, i.e. if path is '/' #}
		<ul id="top-nav-items" class="navbar nav-ul">
		{% if request.get_full_path == "/" %}
			{% for section in homepageitems %}
				<li class="nav-section home-nav-section">
					<a href="#section-{{ forloop.counter }}">{{ section.title }}</a>
					{# <a href="#{{ section.title|cut:" " }}">{{ section.title }}</a> #}
				</li>
			{% endfor %}
		{% endif %}
				<li class="nav-section home-nav-section">
					{% main_menu %}
				</li>
					
				<li class="nav-section home-nav-section">
					<a href="#contact-us">Contact me</a>
				</li>
		</ul>
		{# End of Homenav #}
	</nav>
</header>
{% endblock %}