main.hero {
	overflow: hidden;
	position: relative;
	width: 100%;
	max-height: 720px;
}
.hero-body-content {
	font-family: @serif_stack;
	font-family: "Roboto";
	position: absolute; 
	background-color: white;
	color: @slate;
	z-index: 2;
	padding: 8px 12px;
	top: 50%;
	transform: translateY(-50%);
	text-transform: lowercase;
	right: 30px;
	letter-spacing: 0.1em;
	ul {
		list-style: none;
		font-weight: 300;
		margin-right: 14px;
		font-size: 28px;
		float: right;
		li {
			display: block;
			float: right;
			clear: both;
		}

	}
	h1 {
		font-size: 72px;
		font-weight: 400;
		letter-spacing: 0.1em;
		span.first-name {
		color: #334;
		}
		span.last-name {
			color: #d34;
		}
	}
	p {
		font-size: 18px;
		margin-top: -8px;
		text-align: right;
		padding-right: 10px;
	}
	
}

#svg-bg {
	height: 1080px;
	path {
		transition: all 4s linear;
		opacity: 0.4;
		&:hover {
			transition: all 0s linear;
			opacity: 1;
		}
	}
}

.photo-holder{
	position: relative;
	color: @slate;
	height: 100%;
}
div.photo-credit {
	font-family: "Cormorant Garamond";
	z-index: 5;
	background: rgba(255, 239, 230, 0.7);
	position: absolute;
	bottom: 0px;
	text-align: right;
	a, span {
		padding: 2px 8px;
		font-weight: 800;
		color: @slate;
	}
	a:hover {
		color: rgba(255, 239, 230, 1);
		background-color: @slate;
		text-decoration: none;
	}
}
div.color-overlay {
	height: 100%;
	width: 100%;
	background-color: #001F3F;
	background-color: rgba(50,50,95,0.1);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.homepage-hero-img {

}
.homepage-section-img {
	width: 100%;
	@media (min-width : 992px) { 
		padding-top: 60px;
	}
}

.hide-sm {
	@media (max-width : 991px) { 
		display: none;
	}
}
.hide-md {
	@media (min-width : 992px) { 
		display: none;
	}
}

.homepage-section {
	background-color: white;
	padding-top: 50px;	
	padding-bottom: 50px;
	padding-left: 36px;
	padding-right: 36px;
	h2.section-title {
		// text-transform: uppercase;
		letter-spacing: 0.1rem;
		font-family: "Roboto";
		font-weight: 800;
		font-size: 40px;
	}
	.section-body {
		font-family: 'Cormorant Garamond';
		font-weight: 400;
	}
}