main.hero {
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-top: 80px;
	max-height: 720px;
}
// .template-homepage section {
// 	opacity: 0.25;
// 	transition: all 0.3s linear;
// 	transform: translateY(40px);
// 	&.zap {
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }
.hero-body-content {
	font-family: @serif_stack;
	font-family: "Roboto";
	position: absolute; 
	color: #454566;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	text-transform: lowercase;
	right: 60px;
	margin-left: 60px;
	letter-spacing: 0.1em;
	#site-info-card {
		background-color: white;
		padding: 8px 12px;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	}
	ul.social-links {
		list-style: none;
		// font-size: 28px;
		li {
			text-align: center;
			span {
				transition: all 0.1s linear;
			}
			a {
				color: #454566;
				font-size: 32px;
				&:hover {
					text-decoration: none;
					color: white;
					span {
						background-color: @aubergine;
						&.text {
							border-top: @aubergine 1px solid;
						}
					}
				}
			}
			span.icon {
				border-radius: 6px 6px 0 0;
				width: 70px;
				display: block;
			}
			span.text {
				display: list-item;
				border-top: white 1px solid;
				font-size: 12px;
				padding-right: 0;
				border-radius: 0 0 6px 6px;
			}
			float: right;
		}

	}
	h1 {
		font-size: 72px;
		font-weight: 400;
		letter-spacing: 0.1em;
		span.first-name {
		color: #334;
		}
		span.last-name {
			color: #d34;
		}
	}
	p {
		font-size: 18px;
		margin-top: -8px;
		text-align: right;
		padding-right: 10px;
	}
	#cn-tower {
		position: absolute;
		top: -56px;
		width: 30%;
		// .red-light {
		// 	animation: lighting 1s infinite;
		// }
	}
	#to-skyline {
		position: absolute;
		width: 620px;
		left: -100%;
		bottom: -100px;
	}
	
}
.red-light-animation {
	animation: lighting 2.4s infinite;
}

@keyframes lighting {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#svg-bg {
	path {
		transition: all 4s linear;
		opacity: 0.4;
		&:hover {
			transition: all 0s linear;
			opacity: 1;
		}
	}
}

.photo-holder{
	position: relative;
	color: @slate;
	height: 100%;
}
div.photo-credit {
	font-family: @serif_stack;
	z-index: 5;
	background: rgba(255, 239, 230, 0.7);
	position: absolute;
	bottom: 0px;
	text-align: right;
	a, span {
		padding: 2px 8px;
		font-weight: 800;
		color: @slate;
	}
	a:hover {
		color: rgba(255, 239, 230, 1);
		background-color: @slate;
		text-decoration: none;
	}
}
div.color-overlay {
	height: 100%;
	width: 100%;
	background-color: #001F3F;
	background-color: rgba(50,50,95,0.1);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.homepage-hero-img {

}

@header-font-size: 40px;
.homepage-section {
	background-color: white;
	padding-top: 50px;	
	padding-bottom: 50px;
	padding-left: 36px;
	padding-right: 36px;
	.homepage-section-img {
		width: 100%;
		@media (min-width : 992px) { 
			padding-top: @header-font-size * 1.475;
		}
	}

	.hide-sm {
		@media (max-width : 991px) { 
			display: none;
		}
	}
	.hide-md {
		@media (min-width : 992px) { 
			display: none;
		}
	}
	h2.section-title {
		// text-transform: uppercase;
		letter-spacing: 0.1rem;
		font-family: "Roboto";
		font-weight: 800;
		font-size: @header-font-size;
	}
	.section-body {
		font-family: @serif_stack;
		font-weight: 500;
	}
}