@import "variables/_variables.less";
@import "recipes/recipes.less";
@import "homepage/homepage.less";

body {
	background-color: #FFF0EE;
	background-color: white;
	// background: #FF00EE;
	// background: #0FF0EE;
	// background: red;
	font-family: "Roboto";
}
.logo {
	z-index: 2;
	padding-top: 8px;
	background-color: #FFF0EE;
	background-color: transparent;
	display: inline-block;
	div {
		display: inline;
	}
	svg {
		width: 60px;
		path {
			transition: all 0.1s linear;
			fill: black !important;
		}
	}
	&:hover  {
		path {
		fill: rgb(150,0,0) !important;
		}
	}
}
.logo-holder {
	position: relative;
	display: inline;
}
.stacked-nav {
	position: absolute;
	left: -30px;
	top: 200px;
	z-index: 10;
	#stacked-nav-items{
		& > li {
			display: block;
			margin-left: 0;
			clear: both;
			font-size: 42px;
			a {
				margin-top: 12px;
				color: white; 
				display: inline; 
				padding: 2px 8px;
				color: @slate;
				background-color: white;
				&:hover {
					text-decoration: none;
					box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
				}
			}
		}
	}
}
@keyframes rock {
	0% {transform: rotate(0deg)}
	25% {transform: rotate(12deg)}
	50% {transform: rotate(0deg)}
	75% {transform: rotate(12deg)}
}

.logo {
	font-family: "Roboto";
	text-transform: lowercase;
	font-size: 18px;
	white-space: nowrap;
}
.body-content {
	text-align: right;
}

@keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
#pythonListItem span {
	animation: blink 1s infinite;
	margin-right: -15px;
}

// path:nth-of-type(1n) {
// 	opacity: 1;
// }

.top-menu-bar {
	min-height: 80px;
	padding-right: 30px;
	padding-left: 30px;
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	z-index: 1000;
	width: 100%;
	position: fixed;
	top: 0;
	.top-menu {
		display: inline-block;
	}
	.nav-section {
		float: right;
	}
	.logo {
		font-family: "Fira Sans";
		span {
			color: @yellow;
			font-size: 22px;
		}
	}
	ul.nav-ul {
		float: right;
		font-size: 20px;
		margin-top: 32px;
		list-style: none;
		padding: 0;
		font-family: "Roboto";
		li a {
			margin: 0 12px;
			color: white;
			color: #223;
			&:hover {
				text-decoration: none;
				background-color: #e1deee;
				box-shadow: 5px 0 0 #e1deee, -5px 0 0 #e1deee;
			}
		}
	}
}

.index-page-content {
	margin-top: 60px;
}