@import "variables/_variables.less";
@import "recipes/recipes.less";

body {
	background-color: #FFF0EE;
	background-color: white;
	// background: #FF00EE;
	// background: #0FF0EE;
	// background: red;
}
.body-content {
	text-align: right;
}
.top-menu-bar {
	// background-color: white;
	// border-bottom: 1px solid #333;
	padding-right: 30px;
	padding-left: 30px;
	// width: 200px;
	background-color: white;
	// &:after {
	// 	content: '';
	// 	width: 400px; 
	// 	height: 400px;
	// 	z-index: -1;
	// 	background-color: rgba(255,240,238,1);
	// 	background-color: rgba(255,255,255,1);
	// 	background-color: rgba(33,33,53,0.87);
	// 	position: absolute;
	// 	left: -200px;
	// 	top: -200px;
	// 	transform: rotate(45deg);
	// 	// box-shadow: 3px 0px 1px rgba(0,0,0,0.2);
	// 	// border: 2px dotted rgba(255,255,255,0.5);
	// }
	.top-menu {
		display: inline-block;
	}
	.nav-section {
		float: right;
	}
	.logo {
		font-family: "Fira Sans";
		span {
			color: @yellow;
			font-size: 22px;
		}
	}
	ul.nav-ul {
		float: right;
		margin-top: 14px;
		list-style: none;
		padding: 0;
		font-family: "Cormorant Garamond";
		font-family: "Fira Sans";
		font-weight: 100;
		// text-align: right;
		li a {
			margin: 0 12px;
			color: white;
			color: @slate;
			&:hover {
				text-decoration: none;
				color: @slate;
				background-color: @yellow;
			}
		}
	}
}

.homepage-section-img {
	width: 100%;
	@media (min-width : 992px) { 
		padding-top: 60px;
	}
}

.hide-sm {
	@media (max-width : 991px) { 
		display: none;
	}
}
.hide-md {
	@media (min-width : 992px) { 
		display: none;
	}
}

.homepage-section {
	background-color: white;
	padding-top: 50px;	
	padding-bottom: 50px;
	padding-left: 36px;
	padding-right: 36px;
	h2.section-title {
		// text-transform: uppercase;
		letter-spacing: 0.1rem;
		font-family: "Roboto";
		font-weight: 800;
		font-size: 40px;
	}
	.section-body {
		font-family: 'Cormorant Garamond';
		font-weight: 400;
	}
}
.index-page-content {
	margin-top: 60px;
}